.burger-ingredients {
  max-height: calc(100vh - 128px);
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2, min-content) minmax(0, 1fr);
}

.burger-ingredients__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.burger-ingredients__section-list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

.burger-ingredients__section-list::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.burger-ingredients__section-list::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}
